html {
  font-size: 62.5%;
}
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
  background-color: rgb(16, 16, 136);
}
.main {
  width: 500px;
  margin: 150px auto;
  height: 307px;
}
.generate-div {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
  padding: 10px;
  border: 3px solid white;
  border-radius: 10px;
}
.generate-div button {
  margin-left: auto;
}
.qr-code-content button {
  margin-left: auto;
  margin-top: 10px;
  height: fit-content;
  margin-right: 10px; 
}
.qr-code-content {
  display: flex;
  border: 3px solid white;
  border-radius: 10px;
  height: 240px;
}
.qr-code-content h1 {
    position: absolute;
    font-size: 5rem;
    left: 50%;
    top: 46%;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.qr-code-scanner {
  display: flex;
  flex-direction: column;
  height: 210px;
  background-color: red;
  align-items: center; 
  margin: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}
.qr-code-scanner:disabled {
  background-color: green;
}
.qr-code-scanner button {
  margin: auto !important;
}
.qr-code-scanner svg{
  color: white;
  height: 150px;
  width: 150px;
}
.countdown-timer {
  position: absolute;
  font-size: 5rem;
  left: 50%;
  top: 46%;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
